[color]
  ui = auto
[user]
  name = hamuyuuki
  email = 13702378+hamuyuuki@users.noreply.github.com
[core]
  editor = vim -u NONE --noplugin -c \"set fenc=utf-8\"
  excludesfile = ~/.gitignore
[hub]
  host = gitlab.pixta.jp
[alias]
  st = status
  co = checkout
  df = diff
[ghq]
  root = /home/vagrant/.go/src
  root = /home/vagrant/src
