[color]
  ui = auto
[user]
  name = hamuyuuki
  email = hamuyuuki32@gmail.com
[core]
  editor = vim -c \"set fenc=utf-8\"
	excludesfile = /Users/yuuki_ito/.gitignore
[hub]
  host = gitlab.pixta.jp
[alias]
  st = status
  co = checkout
  df = diff
[ghq]
	root = ~/src
